body{
    width: 100%;
    height: 100vh;
    background-color:burlywood;
    margin: 0;
    padding: 0;
}

div.main {
    width: 450px;
    height: 200px;
    border-radius: 50%;
    margin-top: 100px;
    background-color: indigo;
    
}

div.main h2 {
    font-weight: bold;
    font-size: 3em;
    font-family: elephant;
    line-height: 200px;
}

div.container p {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.5em;
}

div #number {
    padding: 10px;
    width: 500px;
    margin-left: 20px;
    font-size: 1.2em;
    position: absolute;
    left: 26%;

}



h2.text {
    font-size: 4em;
    font-weight: bold;
    font-family: elephant;
}

button.factButton {
    padding: 5px;
    width: 200px;
    height: 70px;
    border-radius: 10px;
}


#button {
    width: 200px;
    height: 70px;
    padding: 10px;
    font-size: 1.5em;
    font-weight: bold;
}


div#slider2{
   position: absolute;
   left: 8%;
   top: 70px;
   display: none;
    
}
div#slider1{
    position: absolute;
    left: 8%;
    
     
 }
 

 div#factBox {
    width: 60%;
    border-radius: 10px;
    background-color: purple;
    display: none;
    position: absolute;
    top:65%;
    left: 20%;
    

}

div#year h2 {
    text-align: center;
    padding-top: 10px;
    color: orange;
    font-family: goudy stout;
}

div#fact p {
    font-size: 1.1em;
    text-align: center;
    color: white;

}